valgrind-out.txt
./tmp
graphic/processed-program-output/*
graphic/program-output-backup/*
graphic/rendered-program-output/*
graphic/program-output/*
graphic/video/*
graphic/timeseries/oscillation-files/*
